[submodule "tests/ext/gtest"]
	path = tests/ext/gtest
	url = https://github.com/google/googletest.git
[submodule "ext/tinyxml2"]
	path = ext/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
