build*
*.pro.user
*.pro.user*
*-build-*
*.o
*.a
*.exe
*.exe.dSYM
.DS_Store
*.sh
doc/*
.project
cppcheck-result.xml
*.cpp_
*.h_
*.pro_
configure.scan
autom4te.cache/*
config.h
config.status
config.log
autoscan.log
Makefile
CMakeFiles
CMakeScripts
CMakeCache.txt
Debug
Release
*.xcodeproj
*.orig

